<component name="ArtifactManager">
  <artifact type="war" build-on-make="true" name="springRest">
    <output-path>$PROJECT_DIR$/target/</output-path>
    <root id="archive" name="springRest.war">
      <element id="artifact" artifact-name="springRest:war exploded" />
    </root>
  </artifact>
</component>